.faq-list {
    margin: 0;
    padding: 0;
}

.faq-item {
    font-weight: 700;
    font-size: 24px;
    padding: 22px 70px;
    margin-bottom: 20px;
    line-height: 42px;
}

.faq-item:nth-child(odd) {
    background-color: #fff;
    color: #1C1A1A;
}

.faq-item:nth-child(even) {
    background-color: #440F51;
    color: #fff;
}

.faq-item:last-child {
    margin-bottom: 0;
}

.faq-item:after {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
    width: 42px;
    height: 42px;
}

.faq-item:nth-child(odd):after {
    background-image: url("../img/open-purple.svg");    
}

.faq-item:nth-child(even):after {
    background-image: url("../img/open.svg");
}