.reserv-title {
  margin-bottom: 50px;
}

.reserv-form {
  padding: 0 10px;
  margin-bottom: 100px;
}

.choice-room {
  padding: 5px;
}

.choice-console {
  padding: 5px;
}

.choice-game {
  padding: 5px;
}

.choice-other {
  padding: 5px;
}

.choice-date {
  padding: 5px;
}

.test {
  padding: 5px;
}