:root {
  --main-color: #ffffff;
  --second-color: #cd06ff;
  --main-bg-color: #1b1a1b;
  --second-bg-color: #440f51;
  --purple-color: #6c0287;
  --second-purple: #640aa3;
  --decor-color: #eadeed;
}