.feedback {
  padding-top: 42px;
}

.feedback__title {
  margin-bottom: 44px;
}

.feedback__list {
  padding: 0 100px;
}

.feedback__item:not(:last-child) {
  margin-bottom: 50px;
}

@media (max-width: 1100px) {
  .feedback {
    padding-top: 25px;
    padding-bottom: 35px;
  }
  
  .feedback__title {
    font-size: 30px;
    line-height: calc(40 / 30);
    margin-bottom: 26px;
  }
  
  .feedback__list {
    padding-left: 100px;
    padding-right: 79px;
  }
  
  .feedback__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

@media (max-width: 830px) {
  .feedback {
    padding-top: 20px;
    padding-bottom: 30px;
  }
  
  .feedback__title {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 31px;
  }
  
  .feedback__list {
    padding-left: 63px;
    padding-right: 64px;
  }
  
  .feedback__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .feedback {
    padding-top: 8px;
    padding-bottom: 15px;
  }
  
  .feedback__title {
    font-size: 14px;
    line-height: calc(16 / 14);
    margin-bottom: 15px;
  }

  .feedback__list {
    padding: 0;
  }

  .feedback__item:not(:last-child) {
    margin-bottom: 23px;
  }
}