.form {
  font-size: 24px;
  line-height: 1.16;
  text-align: end;
}

.form__legend {
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.form__fieldset {
  margin-bottom: 60px;
  border: none;
}

.form__btn {
  background-color: var(--main-color, #ffffff);
  border-radius: 10px;
  min-width: 300px;
  font-weight: 700;
  font-size: 22px;
  line-height: calc(28 / 22);
  text-transform: uppercase;
  color: var(--purple-color, #6c0287);
  padding: 13px 47px;
  margin-right: 100px;
  position: relative;
  z-index: 2;
  border: 3px solid var(--main-color, #ffffff);
  transition-duration: 0.5s;
  transition-property: background-color, border-color;
}

.form__btn::before {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--main-color, #ffffff);
  filter: blur(10px);
  inset: 0;
  z-index: -1;
}

.form__btn:hover {
  background-color: var(--decor-color, #eadeed);
  border-color: var(--purple-color, #6c0287);
}

.form__btn:focus {
  background-color: var(--main-color, #ffffff);
  border-color: var(--purple-color, #6c0287);
}

.form__btn:active {
  background-color: var(--decor-color, #eadeed);
  border-color: var(--decor-color, #eadeed);
}

@media (max-width: 1100px) {
  .form__legend {
    margin-bottom: 26px;
  }
  
  .form__fieldset:last-child {
    margin-bottom: 50px;
  }

  .form__btn {
    min-width: 254px;
    font-size: 18px;
    line-height: calc(24 / 18);
    padding: 10px 42px;
    margin-right: 0;
  }
}

@media (max-width: 830px) {
  .form__legend {
    margin-bottom: 30px;
    /* letter-spacing: 1px; */
  }
  
  .form__fieldset {
    margin-bottom: 50px;
  }

  .form__btn {
    min-width: 300px;
    font-size: 22px;
    line-height: calc(28 / 22);
    padding: 13px 47px;
  }
}

@media (max-width: 674px) {
  .form {
    text-align: center;
  }
}

@media (max-width: 480px) {
  .form__legend {
    font-size: 14px;
    line-height: calc(18 / 14);
    margin-bottom: 15px;
    letter-spacing: 0.5px;
  }

  .form__legend_margin_mobile {
    margin-bottom: 25px;
  }
  
  .form__fieldset {
    margin-bottom: 30px;
  }

  .form__btn {
    min-width: 280px;
    font-size: 18px;
    line-height: calc(26 / 18);
    padding: 14px 55px;
    border-radius: 4px;
  }
}

