.navigation__list {
  display: flex;
  gap: 40px;
  font-size: 22px;
  line-height: 2.27;
}

.navigation__link {
  transition-duration: 0.5s;
  transition-property: color;
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--second-color, #cd06ff);
}

.navigation__link:active {
  color: var(--second-purple, #640aa3);
}

