.footer {
  padding-bottom: 21px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);;
}

.footer__title {
  margin-bottom: 46px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 139px;
  gap: 20px;
}

.footer__address {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  font-style: normal;
  margin-bottom: 39px;
}

.address__item {
  padding-left: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 35px 32px;
}

.address__item_type_location {
  margin-bottom: 45px;
  background-image: url("../../img/footer/location.svg");
}

.address__item_type_phone {
  margin-bottom: 11px;
  background-image: url("../../img/footer/phone-call.svg");
}

.address__item_type_email {
  background-image: url("../../img/footer/email.svg");
}

.footer__list {
  display: flex;
  gap: 26px;
}

.social__link {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  transition-duration: 0.5s;
  transition-property: color, border;
}

.social__link:hover {
  color: var(--decor-color, #eadeed);
}

.social__link:focus {
  color: var(--decor-color, #eadeed);
  border: 1px solid var(--second-color, #cd06ff);
}

.social__link:active {
  color: var(--second-color, #cd06ff);
  border: none;
}

.right {
  max-width: 680px;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.14;
}

.footer__text:last-child {
  text-align: end;
}

.footer__design {
  display: block;
}

.footer__design:not(:last-child) {
  margin-bottom: 6px;
}

.footer__link {
  transition-duration: 0.5s;
  transition-property: color;
}

.footer__link:hover,
.footer__link:focus {
  color: var(--second-color, #cd06ff);
}

.footer__link:active {
  color: var(--second-purple, #640aa3);
}



