.footer {
  padding-bottom: 21px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);;
}

.footer__title {
  margin-bottom: 46px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 139px;
  gap: 20px;
}

.footer__address {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  font-style: normal;
  margin-bottom: 39px;
}

.address__item {
  padding-left: 60px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 35px 32px;
}

.address__item_type_location {
  margin-bottom: 45px;
  background-image: url("../../img/footer/location.svg");
}

.address__item_type_phone {
  margin-bottom: 11px;
  background-image: url("../../img/footer/phone-call.svg");
}

.address__item_type_email {
  background-image: url("../../img/footer/email.svg");
}

.footer__list {
  display: flex;
  gap: 26px;
}

.social__link {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  transition-duration: 0.5s;
  transition-property: color, border;
}

.social__link:hover {
  color: var(--decor-color, #eadeed);
}

.social__link:focus {
  color: var(--decor-color, #eadeed);
  border: 1px solid var(--second-color, #cd06ff);
}

.social__link:active {
  color: var(--second-color, #cd06ff);
  border: none;
}

.footer__map {
  display: block;
  height: 274px;
  width: 680px;
  object-fit: cover;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 1.14;
}

.footer__text:last-child {
  text-align: end;
}

.footer__design {
  display: block;
}

.footer__design:not(:last-child) {
  margin-bottom: 6px;
}

.footer__link {
  transition-duration: 0.5s;
  transition-property: color;
}

.footer__link:hover,
.footer__link:focus {
  color: var(--second-color, #cd06ff);
}

.footer__link:active {
  color: var(--second-purple, #640aa3);
}

@media (max-width: 1100px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 19px;
  }

  .footer__title {
    font-size: 30px;
    line-height: calc(40 / 30);
    margin-bottom: 26px;
  }

  .footer__columns {
    margin-bottom: 92px;
  }

  .footer__address {
    margin-bottom: 40px;
  }

  .address__item {
    padding-left: 40px;
    background-size: 26px 26px;
  }
  
  .address__item_type_phone {
    margin-bottom: 7px;
  }
  
  .social__link {
    width: 40px;
    height: 40px;
  }

  .right {
    max-width: 542px;
  }

  .footer__text:first-child {
    padding-top: 3px;
  }
}

@media (max-width: 830px) {
  .footer {
    padding-top: 35px;
    padding-bottom: 18px;
  }

  .footer__title {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  .footer__columns {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 75px;
  }

  .footer__address {
    text-align: center;
    margin-bottom: 27px;
  }

  .address__item {
    padding-left: 0;
    width: 380px;
  }

  .address__item_type_location {
    margin-bottom: 31px;
    background-position: top -2px left 99px;
  }
  
  .address__item_type_phone {
    margin-bottom: 27px;
    background-position-x: 50px;
  }

  .address__item_type_email {
    background-position-x: 19px;
  }

  .footer__list {
    justify-content: center;
  }
  
  .social__link {
    width: 40px;
    height: 40px;
  }

  .right {
    max-width: 688px;
  }

  .footer__map {
    height: 337px;
    width: 688px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding-top: 15px;
    padding-bottom: 24px;
  }

  .footer__title {
    font-size: 14px;
    line-height: calc(18 / 14);
    margin-bottom: 15px;
  }

  .footer__columns {
    gap: 35px;
    margin-bottom: 60px;
  }

  .footer__address {
    font-size: 14px;
    line-height: calc(18 / 14);
    text-align: center;
    margin-bottom: 10px;
  }

  .address__item {
    background-size: 20px 20px;
    width: 280px;
  }

  .address__item_type_location {
    margin-bottom: 12px;
    background-position: top -1px left 79px;
  }
  
  .address__item_type_phone {
    margin-bottom: 10px;
    background-position-x: 50px;
  }

  .address__item_type_email {
    background-position-x: 37px;
  }

  .footer__list {
    gap: 20px;
  }
  
  .social__link {
    width: 30px;
    height: 30px;
  }

  .right {
    max-width: 280px;
  }

  .footer__map {
    width: 280px;
    height: 194px;
  }
  
  .footer__info {
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    line-height: calc(16 / 12);
    gap: 19px;
  }

  .footer__text:last-child {
    text-align: center;
  }
}


