.advantages {
  padding-bottom: 120px;
}

.advantages__title {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.advantages__item {
  flex-basis: 380px;
  min-height: 228px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  padding: 166px 40px 6px;
  transition-duration: 0.7s;
  transition-property: transform;
  cursor: pointer;
}

.advantages__item:hover {
  transform: scale(110%);
}

.advantages__item:nth-child(3n + 2) {
  transform: translateY(70px);
}

.advantages__item:nth-child(3n + 2):hover {
  transform: scale(110%) translateY(60px);
}

.advantages__item_type_vr {
  background-image: url("../../img/vr.jpg");
}

.advantages__item_type_audio {
  background-image: url("../../img/audio.jpg");
}

.advantages__item_type_micro {
  background-image: url("../../img/micro.jpg");
}

.advantages__item_type_game {
  background-image: url("../../img/game.jpg");
}

.advantages__item_type_netflix {
  background-image: url("../../img/netflix.jpg");
}

.advantages__item_type_sony {
  background-image: url("../../img/sony.jpg");
}

