.advantages {
  padding-bottom: 120px;
}

.advantages__title {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 43px;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 228px);
  gap: 40px 20px;
}

.advantages__item {
  display: flex;
  align-items: end;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  padding: 33px 40px;
  transition-duration: 0.7s;
  transition-property: transform;
  cursor: pointer;
  background-position: center;
}

.advantages__item:hover {
  transform: scale(110%);
}

.advantages__item:nth-child(3n + 2) {
  transform: translateY(70px);
  padding-bottom: 6px;
}

.advantages__item:nth-child(3n + 2):hover {
  transform: scale(110%) translateY(60px);
}

.advantages__item_type_vr {
  background-image: url("../../img/advantages/vr.jpg");
}

.advantages__item_type_audio {
  background-image: url("../../img/advantages/audio.jpg");
}

.advantages__item_type_micro {
  background-image: url("../../img/advantages/micro.jpg");
}

.advantages__item_type_game {
  background-image: url("../../img/advantages/game.jpg");
}

.advantages__item_type_netflix {
  background-image: url("../../img/advantages/netflix.jpg");
}

.advantages__item_type_sony {
  background-image: url("../../img/advantages/sony.jpg");
}


@media (max-width: 1100px) {
  .advantages {
    padding-top: 30px;
    padding-bottom: 100px;
  }
  
  .advantages__title {
    max-width: 580px;
    margin-bottom: 34px;
    font-size: 30px;
    line-height: calc(40 / 30);
  }
  
  .advantages__list {
    grid-template-rows: repeat(2, 172px);
    gap: 30px 22px;
  }
  
  .advantages__item {
    padding: 30px 20px;
    background-position: center;
    background-size: cover;
  }

  .advantages__item:nth-child(3n + 2) {
    transform: translateY(53px);
    padding-bottom: 2px;
  }
}

/* ------------------------------------------------------------------ */

@media (max-width: 830px) {
  .advantages {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  
  .advantages__title {
    max-width: 480px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 1.5;
  }
  
  .advantages__list {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 200px);
    gap: 20px;
  }
  
  .advantages__item {
    padding: 40px 30px;
    /* background-position: center;
    background-size: cover; */
  }

  .advantages__item:nth-child(3n + 2) {
    transform: translateY(0);
    padding-bottom: 12px;
  }

  .advantages__item:nth-child(3n + 2):hover {
    transform: scale(110%) translateY(0);
  }
}

/* --------------------------------------------------------------- */

@media (max-width: 500px) {
  .advantages {
    padding-top: 23px;
    padding-bottom: 15px;
  }
  
  .advantages__title {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: calc(18 / 14);
  }
  
  .advantages__list {
    grid-template-rows: repeat(3, 75px);
    gap: 10px;
  }
  
  .advantages__item {
    padding: 31px 10px;
    font-size: 10px;
  }

  .advantages__item:nth-child(3n + 2) {
    padding-bottom: 3px;
  }

  .advantages__item:nth-child(2) {
    padding-bottom: 17px;
  }
}


