.advantages {
  padding-bottom: 120px;
}

.advantages__title {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 43px;
}

.advantages__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 228px);
  gap: 40px 20px;
}

.advantages__item {
  display: flex;
  align-items: end;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  padding: 33px 40px;
  transition-duration: 0.7s;
  transition-property: transform;
  cursor: pointer;
  background-position: center;
}

.advantages__item:hover {
  transform: scale(110%);
}

.advantages__item:nth-child(3n + 2) {
  transform: translateY(70px);
  padding-bottom: 6px;
}

.advantages__item:nth-child(3n + 2):hover {
  transform: scale(110%) translateY(60px);
}

.advantages__item_type_vr {
  background-image: url("../../img/advantages/vr.jpg");
}

.advantages__item_type_audio {
  background-image: url("../../img/advantages/audio.jpg");
}

.advantages__item_type_micro {
  background-image: url("../../img/advantages/micro.jpg");
}

.advantages__item_type_game {
  background-image: url("../../img/advantages/game.jpg");
}

.advantages__item_type_netflix {
  background-image: url("../../img/advantages/netflix.jpg");
}

.advantages__item_type_sony {
  background-image: url("../../img/advantages/sony.jpg");
}

