.header {
  padding-top: 30px;
  padding-bottom: 25px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  text-transform: uppercase;
}

.header__burger {
  display: none;
}

.header__link {
  font-size: 0;
}

.header__logo {
  width: 120px;
  height: 66px;
}

.header__btn {
  border: 3px solid var(--second-color, #cd06ff);
  border-radius: 10px;
  min-width: 280px;
  padding: 9px 29px 10px;
  color: inherit;
  text-transform: inherit;
  font-weight: 700;
  font-size: 22px;
  line-height: calc(30 / 22);
  white-space: nowrap;
  transition-duration: 0.5s;
  transition-property: background-color, border-color, color;
}

.header__btn:hover,
.header__btn:focus {
  background-color: var(--purple-color, #6c0287);
  border-color: var(--purple-color, #6c0287);
  color: var(--main-color, #ffffff);
}

.header__btn:active {
  background-color: var(--second-purple, #640aa3);
  border-color: var(--second-purple, #640aa3);
  color: var(--main-color, #ffffff);
}

@media (max-width: 1100px) {
  .header {
    padding-bottom: 15px;
  }

  .header__logo {
    max-width: 87px;
    height: 55px;
  }

  .header__btn {
    border-radius: 8px;
    min-width: 229px;
    padding: 7px 23px 8px;
    font-size: 18px;
    line-height: calc(24 / 18);
  }
}

@media (max-width: 830px) {
  .header {
    padding-top: 35px;
  }

  .header__burger {
    display: block;
    width: 54px;
    height: 29px;
  }

  .header__btn {
    border-radius: 8px;
    min-width: 229px;
    padding: 8px 23px 7px;
    font-size: 18px;
    line-height: calc(24 / 18);
  }

  .header__logo {
    max-width: 87px;
    height: 55px;
  }
}

@media (max-width: 500px) {
  .header {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .header__burger svg {
    width: 39px;
    height: 29px;
  }
  
  .header__logo {
    width: 66px;
    height: 42px;
  }
  .header__btn {
    display: none;
  }
}
