.header {
  padding-top: 30px;
  padding-bottom: 25px;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.header__btn {
  border: 3px solid #CD06FF;
  border-radius: 10px;
  max-width: 286px;
  height: 55px;
  padding: 9px 32px 10px;
  color: inherit;
  text-transform: inherit;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.36;
  white-space: nowrap;
  transition-duration: 0.5s;
  transition-property: background-color, border-color, color;
}

.header__btn:hover,
.header__btn:focus {
  background-color: #6C0287;
  border-color: #6C0287;
  color: #ffffff;
}

.header__btn:active {
  background-color: #640AA3;
  border-color: #640AA3;
  color: #ffffff;
}

