.choice-room__btns {
  display: flex;
  gap: 60px;
}

.choice-room__label {
  background-color: #FFFFFF;
  border-radius: 8px;
  width: 250px;
  height: 55px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding: 4px 15px 5px;
  cursor: pointer;
  border: 3px solid #FFFFFF;
}

.choice-room__input:focus:before {
  background-color: #ffffff;
  border-color: #6C0287;
}

.choice-room__label:hover {
  background-color: #EADEED;
  border-color: #640AA3;
}

.choice-room__label:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #6C0287;
}

.choice-room__label:active {
  background-color: #6C0287;
  border-color: #ffffff;
  color: #ffffff;
}

.choice-room__input:checked + .choice-room__label {
  background-image: linear-gradient(to right top, #6C0287, #1a3b61);
  border-color: #000;
  color: #ffffff;
}
