.choice-room__btns {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.choice-room__label {
  background-color: var(--main-color, #ffffff);
  border-radius: 8px;
  min-width: 250px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding: 4px 15px 5px;
  cursor: pointer;
  border: 3px solid var(--main-color, #ffffff);
  transition-duration: 0.5s;
  transition-property: background-color, border-color, outline, color;
}

.choice-room__input:focus:before {
  background-color: var(--main-color, #ffffff);
  border-color: var(--purple-color, #6c0287);
}

.choice-room__label:hover {
  background-color: var(--decor-color, #eadeed);
  border-color: var(--second-purple, #640aa3);
}

.choice-room__label:focus {
  outline: none;
  background-color: var(--main-color, #ffffff);
  border-color: var(--purple-color, #6c0287);
}

.choice-room__label:active {
  background-color: var(--purple-color, #6c0287);
  border-color: var(--main-color, #ffffff);
  color: var(--main-color, #ffffff);
}

.choice-room__input:checked + .choice-room__label {
  background-image: linear-gradient(to right top, var(--purple-color, #6c0287), #1a3b61);
  border-color: #000;
  color: var(--main-color, #ffffff);
}

@media (max-width: 1100px) {
  .choice-room__label {
    border-radius: 6px;
    min-width: 180px;
    font-size: 20px;
    line-height: 1.2;
    padding: 7px 17px;
  }
}

@media (max-width: 830px) {
  .choice-room__label {
    min-width: 150px;
    font-size: 16px;
    line-height: calc(20 / 16);
    padding: 6px 17px;
  }
}

@media (max-width: 500px) {
  .choice-room__btns {
    display: grid;
    grid-template-columns: repeat(2, 130px);
    gap: 14px 20px;
  }

  .choice-room__label {
    border-radius: 4px;
    min-width: 130px;
    font-size: 14px;
    line-height: calc(18 / 14);
    padding: 3px 17px;
  }
}

