.choice-room__btns {
  display: flex;
  gap: 60px;
}

.choice-room__input {
  display: none;
}

.choice-room__label {
  background: #FFFFFF;
  border-radius: 8px;
  width: 250px;
  height: 55px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  padding: 7px 15px 8px;
  cursor: pointer;
}