.rooms {
  padding-bottom: 100px;
}

.rooms__title {
  margin-bottom: 45px;
}

.rooms__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 349px);
  gap: 20px;
}

.rooms__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.rooms__link {
  max-width: 580px;
  font-size: 70px;
  line-height: 1.15;
  font-weight: 700;
  text-transform: uppercase;
  padding: 94px 120px 95px;
  transition-duration: 0.5s;
  transition-property: transform, color;
}

.rooms__link:hover {
  transform: scale(1.2);
}

.rooms__link:focus {
  color: var(--second-color, #cd06ff);
}


.rooms__item_type_vibes {
  background-image: url("../../img/rooms/vibes.jpg");
}

.rooms__item_type_star-wars {
  background-image: url("../../img/rooms/star-wars.jpg");
}

.rooms__item_type_wild-west {
  background-image: url("../../img/rooms/wild-west.jpg");
}

.rooms__item_type_neon-style {
  background-image: url("../../img/rooms/neon-style.jpg");
}

@media (max-width: 1100px) {
  .rooms {
    padding-top: 35px;
    padding-bottom: 70px;
  }
  
  .rooms__title {
    font-size: 30px;
    line-height: calc(40 / 30);
    margin-bottom: 37px;
  }
  
  .rooms__list {
    grid-template-rows: repeat(2, 266px);
  }
  
  .rooms__link {
    max-width: 443px;
    font-size: 50px;
    line-height: 1.2;
    padding: 73px 95px 72px;
  }
}

@media (max-width: 830px) {
  .rooms {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  
  .rooms__title {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 35px;
  }
  
  .rooms__list {
    grid-template-rows: repeat(2, 200px);
  }
  
  .rooms__link {
    max-width: 335px;
    font-size: 40px;
    line-height: 1.25;
    padding: 61px 80px 40px;
  }
}

@media (max-width: 674px) {
  .rooms {
    padding-top: 20px;
    padding-bottom: 45px;
  }
  
  .rooms__title {
    font-size: 18px;
    margin-bottom: 25px;
  }
  
  .rooms__list {
    grid-template-rows: repeat(2, 200px);
  }
  
  .rooms__link {
    max-width: 290px;
    font-size: 30px;
    padding: 71px 50px 50px;
  }
}

@media (max-width: 480px) {
  .rooms {
    padding-top: 15px;
    padding-bottom: 30px;
  }
  
  .rooms__title {
    font-size: 14px;
    line-height: calc(18 / 14);
    margin-bottom: 15px;
  }
  
  .rooms__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 168px);
    gap: 10px;
  }
  
  .rooms__link {
    max-width: 280px;
    font-size: 26px;
    line-height: calc(34 / 26);
    padding: 50px 90px;
  }
}
