.rooms {
  padding-bottom: 100px;
}

.rooms__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.rooms__item {
  min-height: 349px;
  flex-basis: 580px;
  text-align: center;
  padding-top: 135px;
  padding-bottom: 134px;
  background-size: cover;
}

.rooms__link {
  display: inline-block;
  max-width: 252px;
  font-size: 70px;
  line-height: 1.15;
  font-weight: 700;
  text-transform: uppercase;
}

.rooms__item_type_vibes {
  background-image: url("../../img/lesson8/vibes.jpg");
}

.rooms__item_type_star-wars {
  background-image: url("../../img/lesson8/star-wars.jpg");
}

.rooms__item_type_wild-west {
  background-image: url("../../img/lesson8/wild-west.jpg");
}

.rooms__item_type_neon-style {
  background-image: url("../../img/lesson8/neon-style.jpg");
}