.hero {
  padding-top: 25px;
}

.hero__container {
  position: relative;
  min-height: 823px;
}

.hero__container::after {
  content: "";
  display: inline-block;
  width: 675px;
  height: 762px;
  background-image: url("../../img/hero/man-vr.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 30px;
  bottom: 0;
}

.hero__title {
  font-size: 150px;
  line-height: 1;
  font-weight: 900;
  letter-spacing: -0.1em;
  text-transform: uppercase;
}

.hero__description {
  font-size: 28px;
  line-height: 1.78;
  padding-left: 100px;
  margin-bottom: 30px;
}

.hero__advantages {
  display: flex;
  gap: 40px;
  margin-bottom: 150px;
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  align-items: end;
}

.hero__text:first-child {
  max-width: 193px;
}

.hero__text:last-child {
  max-width: 166px;
}

.hero__four {
  font-weight: 900;
  font-size: 100px;
  line-height: 1.41;
  color: var(--second-color, #cd06ff);
}

.hero__new {
  font-weight: 900;
  font-size: 75px;
  line-height: 1.41;
  font-variant: all-small-caps;
  color: var(--second-color, #cd06ff);
}

.hero__link {
  position: relative;
  display: inline-block;
  min-width: 374px;
  background-color: var(--purple-color, #6c0287);
  border-radius: 10px;
  padding: 25px 69px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
  transition-duration: 0.5s;
  transition-property: background-color, outline;
  z-index: 5;
}

.hero__link::before {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--purple-color, #6c0287);
  filter: blur(10px);
  inset: 0;
  z-index: -1;
}

.hero__link:hover,
.hero__link:focus {
  background-color: #840AA3;
  outline: none;
}

.hero__link:active {
  background-color: var(--second-purple, #640aa3);  
}

.hero__btn-down {
  display: block;
  width: 97px;
  height: 97px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 90px;
  z-index: 3;
  transition-duration: 0.5s;
  transition-property: background-color, outline, fill, border-color;
}

.hero__btn-down:hover {
  background-color: var(--main-color, #ffffff);
}

.hero__btn-down:hover .rect {
  fill: var(--second-color, #cd06ff);
}

.hero__btn-down:focus {
  outline: 1px solid var(--second-color, #cd06ff);
  border-radius: 0;
}

.hero__btn-down:active {
  background-color: var(--second-color, #cd06ff);
  border-color: var(--second-color, #cd06ff);
  border-radius: 50%;
}

.hero__btn-down:active .rect {
  fill: var(--main-color, #ffffff);
}

@media (max-width: 1100px) {
  .hero {
    padding-top: 15px;
  }

  .hero__container {
    min-height: 590px;
  }

  .hero__container::after {
    max-width: 453px;
    height: 520px;
  }

  .hero__title {
    font-size: 120px;
    margin-bottom: 20px;
  }

  .hero__description {
    font-size: 22px;
    line-height: calc(30 / 22);
  }

  .hero__advantages {
    margin-bottom: 80px;
    font-size: 26px;
    line-height: calc(30 / 26);
  }
  
  .hero__text:first-child {
    max-width: 168px;
  }
  
  .hero__text:last-child {
    max-width: 140px;
  }
  
  .hero__four {
    font-size: 80px;
    line-height: calc(113 / 80);
  }
  
  .hero__new {
    font-size: 60px;
    line-height: calc(85 / 60);
  }

  .hero__link-wrapper {
    padding-left: 39px;
  }

  .hero__link {
    min-width: 296px;
    padding: 17px 48px;
    font-size: 22px;
    line-height: calc(30 / 22);
  }

  .hero__btn-down {
    width: 67px;
    height: 67px;
    bottom: 50px;
  }
}



@media (max-width: 830px) {
  .hero {
    padding-top: 13px;
    padding-bottom: 40px;
  }

  .hero__container {
    min-height: 537px;
  }

  .hero__container::after {
    width: 409px;
    height: 479px;
  }

  .hero__title {
    font-size: 86px;
  }

  .hero__description {
    font-size: 18px;
    line-height: calc(24 / 18);
    padding-left: 70px;
    margin-bottom: 49px;
  }

  .hero__advantages {
    margin-bottom: 100px;
    font-size: 16px;
    line-height: calc(18 / 16);
    gap: 29px;
  }
  
  .hero__text:first-child {
    max-width: 103px;
  }
  
  .hero__text:last-child {
    max-width: 89px;
  }
  
  .hero__four {
    font-size: 50px;
    line-height: calc(71 / 50);
  }
  
  .hero__new {
    font-size: 40px;
    line-height: calc(56 / 40);
  }

  .hero__link-wrapper {
    padding-left: 0;
  }

  .hero__link {
    min-width: 214px;
    padding: 11px 35px;
    font-size: 16px;
    line-height: calc(24 / 16);
    border-radius: 4px;
  }

  .hero__btn-down {
    display: none;
  }
}

/* ------------------------------------------------------------------------------------------------------------- */

@media (max-width: 630px) {
  .hero__container::after {
    width: 300px;
  }

  .hero__title {
    font-size: 72px;
  }

  .hero__description {
    padding-left: 50px;
  }

  .hero__advantages {
    gap: 15px;
    margin-bottom: 50px;
  }
}

/* ----------------------------------------------------------------------------------------------------------- */
@media (max-width: 674px) {
  .hero__container {
    min-height: 424px;
  }

  .hero__container::after {
    width: 231px;
    bottom: -170px;
  }
}

@media (max-width: 480px) {
  .hero {
    padding-top: 10px;
    padding-bottom: 23px;
  }

  .hero__container {
    min-height: 204px;
  }

  .hero__container::after {
    width: 161px;
    height: 179px;
    right: 20px;
    bottom: 0;
  }

  .hero__title {
    font-size: 35px;
    margin-bottom: 6px;
    letter-spacing: -0.08em;
  }

  .hero__description {
    font-size: 10px;
    line-height: calc(14 / 10);
    margin-bottom: 10px;
    padding-left: 20px;
  }

  .hero__advantages {
    margin-bottom: 25px;
    font-size: 10px;
    line-height: 1.1;
    gap: 20px;
  }
  
  .hero__text:first-child {
    max-width: 65px;
  }
  
  .hero__text:last-child {
    max-width: 54px;
  }
  
  .hero__four {
    font-size: 26px;
    line-height: calc(37 / 26);
  }
  
  .hero__new {
    font-size: 22px;
    line-height: calc(31 / 22);
  }

  .hero__link {
    min-width: 117px;
    padding: 8px 13px 7px;
    font-size: 10px;
    line-height: 1.2;
  }
}


