.hero {
  padding-top: 25px;
}

.hero__container {
  position: relative;
  min-height: 823px;
}

.hero__container::after {
  content: "";
  display: inline-block;
  width: 675px;
  height: 762px;
  background-image: url("../../img/lesson8/man-vr.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 30px;
  bottom: 0;
}

.hero__title {
  font-size: 150px;
  line-height: 1;
  font-weight: 900;
  letter-spacing: -0.1em;
  text-transform: uppercase;
}

.hero__description {
  font-size: 28px;
  line-height: 1.78;
  padding-left: 100px;
  margin-bottom: 30px;
}

.hero__advantages {
  display: flex;
  gap: 40px;
  margin-bottom: 150px;
  font-size: 30px;
  line-height: 1.13;
  text-align: center;
  align-items: end;
}

.hero__text:first-child {
  max-width: 193px;
}

.hero__text:last-child {
  max-width: 166px;
}

.hero__four {
  font-weight: 900;
  font-size: 100px;
  line-height: 1.41;
  color: #CD06FF;
}

.hero__new {
  font-weight: 900;
  font-size: 75px;
  line-height: 1.41;
  font-variant: all-small-caps;
  color: #CD06FF;
}

.hero__link {
  position: relative;
  display: inline-block;
  width: 374px;
  height: 80px;
  background-color: #6C0287;
  border-radius: 10px;
  padding: 25px 69px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  text-transform: uppercase;
}

.hero__link::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #6C0287;
  filter: blur(10px);
  inset: 0;
  z-index: -1;
}

.hero__link:hover,
.hero__link:focus {
  background-color: #840AA3;
  outline: none;
}

.hero__link:active {
  background-color: #640AA3;  
}

.hero__btn-down {
  display: block;
  width: 97px;
  height: 97px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 90px;
  z-index: 3;
}

.hero__btn-down:hover {
  background-color: #ffffff;
}

.hero__btn-down:hover .rect {
  fill: #CD06FF;
}

.hero__btn-down:focus {
  outline: 1px solid #CD06FF;
  border-radius: 0;
}

.hero__btn-down:active {
  background-color: #CD06FF;
  border-color: #CD06FF;
  border-radius: 50%;
}

.hero__btn-down:active .rect {
  fill: #ffffff;
}

