.card {
  display: flex;
  gap: 20px;
}


.card__image {
  width: 280px;
  height: 280px;
  margin-bottom: 11px;
}

.card__caption {
  text-align: center;
}

.card__description {
  max-width: 680px;
  padding-top: 52px;
}
