.choice-date {
  margin-bottom: 40px;
}

.choice-date-columns {
  display: grid;
  grid-template-columns: 300px 280px 300px;
  grid-template-rows: 1fr;
  gap: 50px;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.choice-date-columns__first {
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  gap: 27px;
  justify-content: flex-end;
}

.choice-date-columns__second {
  flex-basis: 280px;
}

.choice-date-columns__third {
  flex-basis: 300px;
}

.choice-date__input {
  display: block;
  font-size: 18px;
  line-height: 1.55;
  padding: 12px 20px;
  border: none;
  width: 100%;
  transition-duration: 0.5s;
  transition-property: outline;
}

.choice-date__input:focus {
  outline: 2px solid var(--second-color, #cd06ff);
}

input::-webkit-input-placeholder {
  color: #000;
}

.first {
  align-self: end;
  display: grid;
  grid-template-columns: repeat(2, 134px);
  grid-template-rows: repeat(2, 52px);
  gap: 36px 32px;
  grid-template-areas: 
  "date time"
  "count count";
}

.first__label {
  grid-area: count;
}

.first__label-date {
  grid-area: date;
}

.first__label-time {
  grid-area: time;
}

.second__label,
.third__label {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  margin-bottom: 6px;
}

.choice-date__input_row_start {
  margin-bottom: 14px;
}
