.choice-date {
  margin-bottom: 40px;
}

.choice-date-columns {
  display: grid;
  grid-template-columns: 300px minmax(240px, 280px) minmax(240px, 300px);
  grid-template-rows: 1fr;
  grid-template-areas: "first second third";
  gap: 50px;
  justify-content: center;
  align-items: center;
  text-align: start;
}

.choice-date__input {
  display: block;
  font-size: 18px;
  line-height: 1.55;
  padding: 12px 20px;
  border: none;
  width: 100%;
  transition-duration: 0.5s;
  transition-property: outline;
}

.choice-date__input:focus {
  outline: 2px solid var(--second-color, #cd06ff);
}

input::-webkit-input-placeholder {
  color: #000;
}

.first {
  grid-area: first;
  align-self: end;
  display: grid;
  grid-template-columns: repeat(2, 134px);
  grid-template-rows: repeat(2, 52px);
  gap: 36px 32px;
  grid-template-areas: 
  "date time"
  "count count";
}

.second {
  grid-area: second;
}

.third {
  grid-area: third;
}

.first__label {
  grid-area: count;
}

.first__label-date {
  grid-area: date;
}

.first__label-time {
  grid-area: time;
}

.second__label,
.third__label {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  margin-bottom: 5px;
}

.choice-date__input_row_start {
  margin-bottom: 14px;
}

@media (max-width: 1100px) {
  .choice-date {
    margin-bottom: 53px;
  }

  .choice-date-columns {
    grid-template-columns: 300px minmax(170px, 251px) minmax(170px, 254px);
  }
}

@media (max-width: 830px) {
  .choice-date {
    margin-bottom: 48px;
  }

  .choice-date-columns {
    grid-template-columns: minmax(170px, 282px) minmax(170px, 300px);
    justify-content: space-between;
    row-gap: 42px;
    grid-template-areas: 
    "first first"
    "second third";
  }

  .first {
    grid-template-columns: 134px 226px minmax(170px, 300px);
    grid-template-rows: 1fr;
    gap: 14px;
    grid-template-areas: 
    "date time count";
  }
  
  .first__label-time {
    justify-self: start;
    min-width: 134px;
  }
}

@media (max-width: 500px) {
  .choice-date-columns {
    grid-template-columns: 280px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "first"
    "second"
    "third";
  }
}

