.choice-date-columns {
  display: flex;
  gap: 50px;
  justify-content: center;
  text-align: start;
}

.choice-date-columns__first {
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  justify-content: flex-end;
}

.choice-date-columns__second {
  flex-basis: 280px;
}

.choice-date-columns__third {
  flex-basis: 300px;
}

.choice-date__input {
  display: block;
  font-size: 18px;
  line-height: 1.55;
  padding: 12px;
  color: #ffffff;
  border: none;
  width: 100%;
}

input::-webkit-input-placeholder {
  color: #000;
}

.first__row {
  display: flex;
  justify-content: space-between;
}

.first__input {
  max-width: 134px;
}

.first__label {
  position: relative;
}

.first__label::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 15px;
  background-image: url("../../../img/dropdown.svg");
  background-repeat: no-repeat;
  right: 27px;
  top: 40%;
}

.second__label,
.third__label {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
}
