.about-us {
  padding-top: 100px;
}

.about-us__title {
  margin-bottom: 46px;
}

.about-us__columns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.about-us__image {
  max-width: 600px;
}

.about-us__text {
  max-width: 500px;
}

.about-us__advantages {
  margin-bottom: 55px;
}

.about-us__description {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 30px;
}

.about-us__description:last-child {
  margin-bottom: 0;
}

.blockquote {
  padding-left: 31px;
  background-image: url("../../img/about-us/quote-start.svg");
  background-repeat: no-repeat;
}

.blockquote__quote {
  font-size: 44px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 28px;
  position: relative;
}

.blockquote__quote::after {
  content: " ”";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--purple-color, #6c0287);
}

.blockquote__creator {
  text-align: end;
  padding-right: 18px;
}

.blockquote__creator::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url("../../img/about-us/creator.jpg");
  background-repeat: no-repeat;
  background-position: center top -10px;
  background-size: cover;
  background-size: 80px;
  margin-right: 25px;
}

.blockquote__creator-cite {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  line-height: 1.4;
  font-style: normal;
  max-width: 260px;
  text-align: start;
}
